[Unit]
Description=Windmaker Home IP Notifier
Documentation=https://git.windmaker.net/a-castellano/home-ip-notifier
Wants=network-online.target
After=nss-lookup.target
After=network-online.target
After=rabbitmq-server.service

[Service]
EnvironmentFile=/etc/default/windmaker-home-ip-notifier
Type=simple
Restart=always
ExecStart=/usr/local/bin/windmaker-home-ip-notifier
TimeoutStopSec=10
CapabilityBoundingSet=
DeviceAllow=
LockPersonality=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0027

[Install]
WantedBy=multi-user.target
